*{
    margin-left: 5%;
    margin-right: 10%;
}

.overskrift{
    text-align: center;
}

.Subheading{

}

#author{
    color: orange;
    margin-right: 0%;
}

.image-credit{
    font-size: smaller;
    margin-top: 0%;
}