*{
    margin-left: 5%;
    margin-right: 10%;
}

.overskrift{
    text-align: center;
}

#author{
    color: orange;
    margin-left: 0%;
}

.image-credit{
    font-size: smaller;
    margin-top: 0%;
}

.article-metadata{
    font-style: italic;
}

.email{
    color: blue;
}

button:hover{
    color: blue;
}