
body {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-left: 5%;
    margin-right: 10%;
    padding: 2%;

}

.overskrift{
    font-weight: bold;
    font-size: 300%;
}

#author{
    color: orange;
    margin-left: 0%;
    font-weight: bold;
}
.article-image{
    width: 62%;
    height: auto;
}

.image-credit{
    font-size: smaller;
    margin-top: 0%;
    color: #777;
}
article {
    padding: 20px;
}

.article-metadata{
    font-style: italic;
}

.email{
    color: blue;
}

button {
    background-color: #fff;
    color: #3c4043;
    border-radius: 24em;
    padding: 1% 2%;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #F6F9FE;
    color: orange;
  }
  
  button:focus {
    outline: none;
    border: solid orange;
  }
